---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  chartRef:
    kind: OCIRepository
    name: qbittorrent
  interval: 1h
  values:
    controllers:
      qbittorrent:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            dependsOn:
              - gluetun
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:e9c2c24ad2b39fa0ee44de682bf26b14bf23cffea1de9e1f082f26caed4277f9
            env:
              TZ: Europe/Warsaw
              QBT_WEBUI_PORT: &port 80
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 30
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.0@sha256:6b54856716d0de56e5bb00a77029b0adea57284cf5a466f23aad5979257d3045
            env:
              DNS_UPSTREAM_RESOLVER_TYPE: plain
              FIREWALL_INPUT_PORTS: "80,9999"
              FIREWALL_OUTBOUND_SUBNETS: "10.42.0.0/16,10.43.0.0/16,192.168.69.0/24"
              HEALTH_SERVER_ADDRESS: ":9999"
              PORT_FORWARD_ONLY: "on"
              VPN_PORT_FORWARDING: "on"
              VPN_TYPE: wireguard
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &gluetunProbes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 9999
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 30
                  failureThreshold: 3
              readiness: *gluetunProbes
              startup: *gluetunProbes
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              runAsUser: 0
              runAsGroup: 0
              runAsNonRoot: false
              capabilities:
                add: ["NET_ADMIN"]
            resources:
              requests:
                cpu: 100m
          port-forward:
            dependsOn:
              - gluetun
            image:
              repository: docker.io/snoringdragon/gluetun-qbittorrent-port-manager
              tag: 1.3@sha256:679b7a92c494f93b78ad37ef24f3a261e73d0a1a52505ad4f1e39580eedfa14f
            env:
              QBITTORRENT_SERVER: localhost
              QBITTORRENT_PORT: *port
              PORT_FORWARDED: /tmp/gluetun/forwarded_port
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              runAsUser: 0
              runAsGroup: 0
              runAsNonRoot: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: qBittorrent Download Client
          gethomepage.dev/group: Downloads
          gethomepage.dev/icon: si-qbittorrent
          gethomepage.dev/name: qBittorrent
          gethomepage.dev/widget.type: qbittorrent
          gethomepage.dev/widget.url: "http://qbittorrent.default.svc.cluster.local"
          gethomepage.dev/widget.enableLeechProgress: "true"
          gethomepage.dev/widget.enableLeechSize: "true"
          gethomepage.dev/pod-selector: app.kubernetes.io/name=qbittorrent
          gethomepage.dev/weight: "40"
        hostnames:
          - "{{ .Release.Name }}.janpuc.com"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    configMaps:
      config:
        data:
          .qbt.toml: |
            [qbittorrent]
            addr = "http://localhost:80"
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/.qbt.toml
            subPath: .qbt.toml
      incomplete:
        type: custom
        volumeSpec:
          ephemeral:
            volumeClaimTemplate:
              spec:
                accessModes: ["ReadWriteOnce"]
                resources:
                  requests:
                    storage: 1Mi
                storageClassName: openebs-hostpath
                volumeMode: Filesystem
      media:
        type: nfs
        server: bigmouth.internal
        path: /mnt/Vault/Media
        globalMounts:
          - path: /media/Downloads/qbittorrent
            subPath: Downloads/qbittorrent
        mountOptions:
          - nfsvers=4.2
          - nconnect=16
          - hard
          - noatime
      tmpfs:
        type: emptyDir
        advancedMounts:
          qbittorrent:
            app:
              - path: /config/qBittorrent/logs
                subPath: logs
              - path: /tmp
                subPath: tmp
            gluetun:
              - path: /tmp/gluetun
                subPath: gluetun
            port-forward:
              - path: /tmp/gluetun
                subPath: gluetun
                readOnly: true
