---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: descheduler
spec:
  chartRef:
    kind: OCIRepository
    name: descheduler
  interval: 1h
  values:
    kind: Deployment
    deschedulerPolicyAPIVersion: descheduler/v1alpha1
    deschedulerPolicy:
      metricsProviders:
        - source: KubernetesMetrics
      profiles:
        name: Default
        pluginConfig:
          - name: DefaultEvictor
            args:
              podProtections:
                defaultDisabled:
                  - FailedBarePods
                  - PodsWithLocalStorage
                  - SystemCriticalPods
          - name: LowNodeUtilization
            args:
              metricsUtilization:
                source: KubernetesMetrics
              thresholds:
                cpu: 20
                memory: 20
                pods: 20
              targetThresholds:
                cpu: 50
                memory: 50
                pods: 50
          - name: RemoveFailedPods
            args:
              reasons:
                - ContainerStatusUnknown
                - NodeAffinity
                - NodeShutdown
                - Terminated
                - UnexpectedAdmissionError
              includeInitContainers: true
              excludeOwnerKinds:
                - Job
          - name: RemovePodsViolatingInterPodAntiAffinity
          - name: RemovePodsViolatingNodeAffinity
            args:
              nodeAffinityType:
                - requiredDuringSchedulingIgnoredDuringExecution
          - name: RemovePodsViolatingNodeTaints
          - name: RemovePodsViolatingTopologySpreadConstraint
        plugins:
          balance:
            enabled:
              - LowNodeUtilization
              - RemovePodsViolatingTopologySpreadConstraint
          deschedule:
            enabled:
              - RemoveFailedPods
              - RemovePodsViolatingInterPodAntiAffinity
              - RemovePodsViolatingNodeAffinity
              - RemovePodsViolatingNodeTaints
    service:
      enabled: true
    serviceMonitor:
      enabled: true
    leaderElection:
      enabled: true
