---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kavita
spec:
  chartRef:
    kind: OCIRepository
    name: kavita
  interval: 1h
  values:
    controllers:
      kavita:
        containers:
          app:
            image:
              repository: ghcr.io/kareadita/kavita
              tag: 0.8.9@sha256:69e9117b9b681849a6f6d5dc8411bfa6a326ed77f78cc49d9cbce49584ff6c0d
            env:
              TZ: Europe/Warsaw
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 15m
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 5000
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Manga reader
          gethomepage.dev/group: Selfhosted
          gethomepage.dev/icon: mdi-book-open-variant
          gethomepage.dev/name: Kavita
          gethomepage.dev/widget.type: kavita
          gethomepage.dev/widget.url: "http://kavita.default.svc.cluster.local:5000"
          gethomepage.dev/widget.key: "{{`{{HOMEPAGE_VAR_KAVITA_API_KEY}}`}}"
          gethomepage.dev/pod-selector: app.kubernetes.io/name=kavita
          gethomepage.dev/weight: "20"
        hostnames:
          - comics.janpuc.com
          - "{{ .Release.Name }}.janpuc.com"
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /kavita/config
      media:
        type: nfs
        server: bigmouth.internal
        path: /mnt/Vault/Media
        globalMounts:
          - path: /media
