---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kavita
spec:
  chartRef:
    kind: OCIRepository
    name: kavita
  interval: 1h
  values:
    controllers:
      kavita:
        containers:
          app:
            image:
              repository: ghcr.io/kareadita/kavita
              tag: 0.8.8@sha256:22c42f3cc83fb98b98a6d6336200b615faf2cfd2db22dab363136744efda1bb0
            env:
              TZ: Europe/Warsaw
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 15m
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 5000
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Manga reader
          gethomepage.dev/group: Kavita
          gethomepage.dev/icon: kavita.svg
          gethomepage.dev/name: Kavita
          gethomepage.dev/widget.type: kavita
          gethomepage.dev/widget.url: "https://comics.janpuc.com"
          gethomepage.dev/widget.key: "$${HOMEPAGE_KAVITA_API_KEY}"
          gethomepage.dev/pod-selector: ""
          gethomepage.dev/weight: "10" # optional
        hostnames:
          - "{{ .Release.Name }}.janpuc.com"
          - comics.janpuc.com
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /kavita/config
      media:
        type: nfs
        server: bigmouth.internal
        path: /mnt/Vault/Media
        globalMounts:
          - path: /media/Comics
            subPath: Comics
