---
authentication_backend:
  ldap:
    address: ldap://lldap.default.svc.cluster.local:3890
    implementation: custom
    timeout: 5s
    start_tls: false
    base_dn: '{{ env "LLDAP_LDAP_BASE_DN" }}'
    additional_users_dn: ou=people
    users_filter: (&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))
    additional_groups_dn: ou=groups
    groups_filter: (member={dn})
    user: 'uid={{ env "LLDAP_LDAP_USER_DN" }},ou=people,{{ env "LLDAP_LDAP_BASE_DN" }}'
    attributes:
      username: uid
      display_name: displayName
      mail: mail
      member_of: memberOf
      group_name: cn
  password_reset:
    disable: true
  refresh_interval: 1m

session:
  name: authelia-home-ops
  same_site: lax
  inactivity: 5m
  expiration: 1h
  remember_me: 1M
  cookies:
    - name: authelia_session
      domain: janpuc.com
      authelia_url: https://auth.janpuc.com
      default_redirection_url: https://home.janpuc.com

storage:
  local:
    path: '/config/db.sqlite3'

notifier:
  disable_startup_check: true
  filesystem:
    filename: '/config/notification.txt'

duo_api:
  disable: true

access_control:
  ## Default policy can either be 'bypass', 'one_factor', 'two_factor' or 'deny'. It is the policy applied to any
  ## resource if there is no policy to be applied to the user.
  default_policy: two_factor
  networks:
    - name: private
      networks: [10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16]
  rules:
    # bypass Authelia WAN + LAN
    - domain:
        - auth.janpuc.com
      policy: bypass
    # One factor auth for LAN
    - domain:
        - "*.janpuc.com"
      policy: one_factor
      subject: [group:admins, group:users]
      networks:
        - private

# identity_providers:
#   oidc:
#     jwks:
#       - key: |
#           {{ env "OIDC_JWKS_KEY" | mindent 10 "|" | msquote }}
#     cors:
#       endpoints: [authorization, token, revocation, introspection]
#       allowed_origins_from_client_redirect_uris: true
