---
machine:
  kernel:
    modules:
      - name: amdgpu
        options:
          - gttsize=2048
  nodeLabels:
    topology.kubernetes.io/zone: m
    janpuc.com/workload: media
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-0
