---
machine:
  kernel:
    modules:
      - name: amdgpu
        options:
          - gttsize=3072
  nodeLabels:
    topology.kubernetes.io/zone: m
    janpuc.com/workload: ai
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-2
