---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./autobrr/ks.yaml
  - ./bazarr/ks.yaml
  - ./jellyfin/ks.yaml
  - ./nzbget/ks.yaml
  - ./qbittorrent/ks.yaml
  - ./qui/ks.yaml
  - ./sonarr/ks.yaml
