---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-logs
spec:
  chartRef:
    kind: OCIRepository
    name: victoria-logs
  interval: 1h
  values:
    fullnameOverride: victoria-logs
    server:
      persistentVolume:
        enabled: true
        storageClassName: ceph-block
        size: 20Gi
      retentionPeriod: 14d
      route:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Log aggregation and search tool
          gethomepage.dev/group: Observability
          gethomepage.dev/icon: victorialogs.svg
          gethomepage.dev/name: Victoria Logs
          gethomepage.dev/pod-selector: app.kubernetes.io/name=victoria-logs-single
          gethomepage.dev/weight: "10"
        enabled: true
        hostnames:
          - victoria-logs.janpuc.com
        parentRefs:
          - name: envoy-internal
            namespace: network
        extraRules:
          - filters:
              - type: RequestRedirect
                requestRedirect:
                  path:
                    type: ReplaceFullPath
                    replaceFullPath: /select/vmui/
                  statusCode: 302
            matches:
              - path:
                  type: Exact
                  value: /
      serviceMonitor:
        enabled: true
    dashboards:
      enabled: true
