---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lldap
spec:
  chartRef:
    kind: OCIRepository
    name: lldap
  interval: 1h
  values:
    controllers:
      lldap:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/lldap/lldap
              tag: 2025-12-12-alpine-rootless@sha256:6ca0e292556af7722676b1ddad86d79e6c40421286f667011587624e01a2226d
            env:
              UID: 1000
              GID: 1000
              TZ: Europe/Warsaw
              LLDAP_HTTP_PORT: &port 80
              LLDAP_HTTP_URL: "https://lldap.janpuc.com"
              LLDAP_LDAP_PORT: &ldapPort 3890
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 5m
              limits:
                memory: 64Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
          ldap:
            port: *ldapPort
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Lightweight LDAP server
          gethomepage.dev/group: Security
          gethomepage.dev/icon: lldap.svg
          gethomepage.dev/name: LLDAP
          gethomepage.dev/pod-selector: app.kubernetes.io/name=lldap
          gethomepage.dev/weight: "10"
        hostnames:
          - "{{ .Release.Name }}.janpuc.com"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
