---
customization:
  extraKernelArgs:
    - amd_iommu=on
    - iommu=pt
    - amdgpu.gttsize=2048
  systemExtensions:
    officialExtensions:
      - siderolabs/amd-ucode
      - siderolabs/amdgpu
      - siderolabs/drbd
