---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: redis
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: redis
    template:
      data:
        password: "{{ .password }}"
  dataFrom:
    - extract:
        key: redis
