---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: keda
spec:
  chartRef:
    kind: OCIRepository
    name: keda
  interval: 1h
  values:
    enableServiceLinks: false
    prometheus:
      metricServer:
        enabled: true
        serviceMonitor:
          enabled: true
      operator:
        enabled: true
        serviceMonitor:
          enabled: true
      webhooks:
        enabled: true
        serviceMonitor:
          enabled: true
      resources:
        operator:
          requests:
            cpu: 10m
            memory: 100Mi
          limits: {}
        metricServer:
          requests:
            cpu: 10m
            memory: 100Mi
          limits: {}
        webhooks:
          requests:
            cpu: 10m
            memory: 100Mi
          limits: {}
