---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qui
spec:
  chartRef:
    kind: OCIRepository
    name: qui
  interval: 1h
  values:
    controllers:
      qui:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/autobrr/qui
              tag: develop@sha256:a3b4d7a7a52007392924282d5858f839f67ff1201ceeaf2860a8dd1858345fc2
            env:
              QUI__HOST: 0.0.0.0
              QUI__PORT: &port 80
              QUI__LOG_LEVEL: INFO
              QUI__OIDC_ENABLED: "true"
              QUI__OIDC_ISSUER: https://auth.janpuc.com
              QUI__OIDC_CLIENT_ID: qui
              QUI__OIDC_REDIRECT_URL: https://qui.janpuc.com/api/auth/oidc/callback
              QUI__OIDC_DISABLE_BUILT_IN_LOGIN: "true"
              TZ: Europe/Warsaw
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: qBittorrent UI
          gethomepage.dev/group: Downloads
          gethomepage.dev/icon: mdi-rabbit
          gethomepage.dev/name: Qui
          gethomepage.dev/pod-selector: app.kubernetes.io/name=qui
          gethomepage.dev/weight: "30"
        hostnames:
          - "{{ .Release.Name }}.janpuc.com"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      media:
        type: nfs
        server: bigmouth.internal
        path: /mnt/Vault/Media
        globalMounts:
          - path: /media/Downloads
            subPath: Downloads
