---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mealie
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: mealie-secret
    template:
      data:
        OIDC_CLIENT_SECRET: "{{ .MEALIE_OAUTH_CLIENT_SECRET }}"
        OPENAI_API_KEY: "{{ .MEALIE_OPENAI_API_KEY }}"
  dataFrom:
    - extract:
        key: mealie
