---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mealie
spec:
  chartRef:
    kind: OCIRepository
    name: mealie
  interval: 1h
  values:
    controllers:
      mealie:
        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.10.1@sha256:bf48f06fcb2bd3f242d6f703cd7860f18913df3b1a3c8e8b8194196a8b53f6f6
            env:
              PUID: 1000
              PGID: 1000
              TZ: Europe/Warsaw
              # ALLOW_SIGNUP: "false"
              # ALLOW_PASSWORD_LOGIN: "false"
              BASE_URL: https://recipes.janpuc.com
              DB_ENGINE: sqlite
              # OIDC_AUTH_ENABLED: "true"
              # OIDC_CONFIGURATION_URL: https://auth.janpuc.com/.well-known/openid-configuration
              # OIDC_CLIENT_ID: mealie
              # OIDC_USER_GROUP: users
              # OIDC_ADMIN_GROUP: admins
              # OIDC_AUTO_REDIRECT: "true"
              # OIDC_PROVIDER_NAME: Authelia
              # OIDC_REMEMBER_ME: "true"
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 9000
    route:
      app:
        hostnames:
          - "recipes.janpuc.com"
          - "{{ .Release.Name }}.janpuc.com"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        type: emptyDir
        globalMounts:
          - path: /app/data
