---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: proxmox-csi
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: proxmox-csi
    template:
      data:
        ## Keep for the time it works with a token.
        # config.yaml: |-
        #   clusters:
        #     - url: "{{ .endpoint }}/api2/json"
        #       insecure: true
        #       token_id: "{{ .token_id }}"
        #       token_secret: "{{ .token_secret }}"
        #       region: aether
        config.yaml: |-
          clusters:
            - url: "{{ .endpoint }}/api2/json"
              insecure: true
              username: "{{ .pxe_username }}"
              password: "{{ .pxe_password }}"
              region: aether
  dataFrom:
    - extract:
        key: proxmox-csi-aether
